// mixin
@mixin flex-full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-full-stretch {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

@mixin flex-start {
  display: flex;
  align-items: start;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin transition {
  transition: .2s ease;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

// Home
.home {
  position: relative;

  &_bg {
    position: absolute;
    right: -260px;
    top: 0;
    z-index: -1;

    @include media(medium) {
      right: auto;
      left: 0;
      height: 806px;
    }

    @include media(exsm) {
      height: 440px;
    }
  }

  .main_container {
    padding-top: 115px;
    margin-bottom: 82px;
    position: relative;

    @include media(medium) {
      padding-top: 76px;
    }

    @include media(small) {
      margin-bottom: 35px;
    }
  }

  &_description_md {
    color: $color-white;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    line-height: 142.5%;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    display: none;
    max-width: 293px;
    margin-left: auto;
    margin-bottom: 10px;

    @include media(medium) {
      display: block;
    }
  }

  h1 {
    color: $color-grey;
    font-size: 45px;
    font-weight: 700;
    line-height: 109%;
    max-width: 463px;
    margin-bottom: 26px;

    @include media (medium) {
      text-align: right;
      max-width: 309px;
      margin-left: auto;
      font-size: 22px;
      font-weight: 700;
      line-height: 109%;
      color: $color-white;
    }
  }

  &_bg_phone {
    position: absolute;
    right: 0;
    top: 108px;

    @include media(medium) {
      position: static;
      height: 350px;
      margin-left: auto;
      display: block;
    }

    @include media(exsm) {
      height: 239px;
      margin-bottom: 10px;
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-bottom: 36px;

    &__item {
      display: flex;
      align-items: flex-start;
      gap: 17px;
    }

    img {
      flex-shrink: 0;
    }

    p {
      color: $color-grey;
      font-size: 16px;
      font-weight: 400;
      line-height: 130%;
      width: 515px;
    }
  }
}

// Home end

// Scanner
.home-scanner {
  margin-bottom: 167px;

  .main_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    @include media(medium) {
      flex-direction: column-reverse;
    }
  }

  &__statistic {
    position: absolute;
    left: 402px;
    bottom: 50px;
    border-radius: 20px;
    background: linear-gradient(180deg, #6E2ECC 0%, #354DF4 100%);
    box-shadow: 0px 4px 17.6px 0px rgba(0, 0, 0, 0.16);
    width: 177px;
    padding: 52px 19px 18px;

    @include media(medium) {
      position: relative;
      bottom: auto;
      left: auto;
      margin: 21px 0 18px;
      width: 100%;
    }

    img {
      position: absolute;
      top: -9px;
    }

    span {
      color: $color-white;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 12px;
      font-weight: 600;
      line-height: 120%;
    }
  }

  &__phone {
    position: absolute;
    right: -185px;
    top: 50%;
    transform: translate(0, -50%);

    @include media(medium) {
      display: none;
    }

    &_md {
      display: none;

      @include media(medium) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 261px;
      }
    }
  }

  &_btn {
    &__md {
      display: none;

      @include media(medium) {
        width: 212px;
        margin: 0 auto;
        font-size: 14px;
        white-space: nowrap;
        margin-top: 21px;
        display: flex;
      }
    }

    &__lg {
      @include media(medium) {
        display: none;
      }
    }
  }

  &__left_block {
    width: 340px;
    position: relative;

    @include media(medium) {
      width: 100%;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 12px;

      &_item {
        border-radius: 10px;
        background: $color-white;
        box-shadow: 0px 4px 17.6px 0px rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px 74px 8px 15px;

        span {
          color: $color-grey;
          font-size: 12px;
          font-weight: 500;
          line-height: 120%;
        }
      }
    }
  }

  &__right_block {
    width: 402px;

    @include media(medium) {
      width: 100%;
    }

    &__title {
      margin-bottom: 27px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 21px;
      margin-bottom: 26px;

      @include media(medium) {
        gap: 22px;
      }

      &_item {
        display: flex;
        align-items: flex-start;
        gap: 23px;

        @include media(medium) {
          gap: 7px;
          margin-right: 130px;
        }

        &:last-child {
          @include media(medium) {
            margin-right: 0;
          }
        }

        &__number {
          color: $color-black;
          font-size: 20px;
          font-weight: 700;
          line-height: 112.5%;
          margin-bottom: 0;
          font-variant-numeric: lining-nums proportional-nums;

          @include media(medium) {
            font-size: 14px;
          }
        }

        &__text {
          font-variant-numeric: lining-nums proportional-nums;
          color: $color-grey;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
        }
      }
    }
  }
}

// Scanner end

// Screener
.home-screener {
  margin-bottom: 207px;

  @include media(medium) {
    margin-bottom: 40px;
  }

  .main_container {
    position: relative;
  }

  &__bg {
    position: absolute;
    left: -725px;
    top: -371px;

    @include media(medium) {
      z-index: -1;
    }

    @include media(exsm) {
      height: 605px;
      left: -358px;
      top: -166px;
    }
  }

  &__left_block {
    position: absolute;
    top: 0;
    left: 20px;

    @include media(medium) {
      position: static;
    }

    h2 {
      color: $color-white;
      font-size: 36px;
      font-weight: 700;
      line-height: 112.5%;
      margin-bottom: 26px;

      @include media(exsm) {
        width: 144px;
        font-size: 24px;
        margin-bottom: 20px;
      }
    }

    &__description {
      color: $color-white;
      font-size: 14px;
      font-weight: 500;
      line-height: 140%;
      width: 475px;
      margin-bottom: 32px;

      @include media(exsm) {
        font-size: 12px;
        width: 278px;
        margin-bottom: 25px;
      }
    }

    &__img_card {
      transform: translateX(-12px);

      @include media(exsm) {
        width: 100%;
      }
    }
  }

  &__right_block {
    @include media(medium) {
      display: flex;
      flex-direction: column-reverse;
      gap: 18px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;


      &_item {
        border-radius: 0px 10px 10px 0px;
        background: $color-white;
        box-shadow: 0px 4px 17.6px 0px rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 9px;
        gap: 19px;

        @include media(medium) {
          justify-content: flex-start;
          border-radius: 10px;
          padding: 8px 43px 9px 13px;
        }

        span {
          width: 318px;
          color: $color-black;
          font-variant-numeric: lining-nums proportional-nums;
          font-size: 14px;
          font-weight: 400;
          line-height: 130%;

          @include media(large) {
            width: 280px;
          }

          @include media(medium) {
            width: auto;
          }
        }
      }
    }

    &__description {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      padding-right: 28px;

      @include media(medium) {
        margin-top: 40px;
      }

      @include media(exsm) {
        margin-top: 0;
      }

      &_text {
        color: $color-grey;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        margin-top: 40px;
        width: 520px;

        @include media(large) {
          width: 450px;
        }

        @include media(medium) {
          width: 100%;
        }

        @include media(exsm) {
          margin-top: 0;
        }
      }
    }
  }
}

// Screener end

// wallets
.home-wallets {
  @include media(medium) {
    display: none;
  }

  &__title {
    margin-bottom: 40px;
    text-align: center;
  }

  &__swiper_wrap {
    position: relative;

    button {
      position: absolute;
      top: 50%;
      z-index: 2;
      transform: translateY(-50%);
    }

  }

  &__next_btn {
    right: 0;
    transform: translateY(-50%) rotateZ(180deg) !important;
  }

  &__card {
    max-width: 940px;
    margin: 0 auto;
    border-radius: 30px;
    background: #F2F2F2;
    padding: 40px 40px 60px 40px;

    h5 {
      color: $color-grey;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      line-height: 112.5%;
      margin-bottom: 16px;
    }

    p {
      color: $color-grey;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      margin-bottom: 15px;
    }

    &_in {
      display: flex;
      gap: 23px;

      &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &_item {
          @include flex-start();
          gap: 16px;
          color: $color-grey;
          max-width: 450px;
          font-size: 14px;
          font-weight: 500;
          line-height: 140%;
        }
      }

    }
  }

  &__card_image {
    max-width: 379px;
  }

  &__link_wrap {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}

// wallets

// message
.home-message {
  padding: 115px 0 90px 0;

  @include media(medium) {
    padding: 40px 0;
  }

  h4 {
    text-align: center;
    margin-bottom: 40px;

    @include media(medium) {
      text-align: left;
      font-size: 24px;
      font-weight: 700;
      line-height: 112.5%;
      margin-bottom: 20px;
    }
  }

  &__btns {
    margin-top: 40px;
    @include flex-full-center();

    @include media(medium) {
      margin-top: 20px;
    }
  }

  &__in {
    @include flex-center();
    gap: 20px;

    @include media (medium) {
      flex-direction: column;
      align-items: start;
    }

    p {
      max-width: 322px;
      color: $color-grey;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;

      @include media(medium) {
        max-width: 100%;
        font-size: 12px;
        font-weight: 400;
        line-height: 140%;
      }
    }

  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__center,
  &__left,
  &__right {
    flex: 1;
  }

  &__center {
    img {
      width: 100%;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &_item {
      @include flex-start();
      gap: 17px;
      font-size: 14px;
      font-weight: 500;
      line-height: 130%;

      @include media(medium) {
        font-size: 12px;
      }
    }
  }
}

// message

// History
.home-history {
  margin-bottom: 64px;

  .main_container {
    position: relative;
  }

  &__bg {
    position: absolute;
    top: 15px;
    right: -420px;

    @include media(medium) {
      height: 646px;
      z-index: -1;
      right: auto;
      top: auto;
      bottom: 68px;
      left: -328px;
    }
  }

  &__left_block {
    &__title {
      margin-bottom: 25px;

      @include media(medium) {
        margin-bottom: 11px;
      }
    }

    p {
      color: $color-grey;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      max-width: 531px;
      margin-bottom: 36px;

      @include media(medium) {
        font-size: 12px;
        max-width: 100%;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 34px;

      @include media(medium) {
        gap: 11px;
        margin-bottom: 37px;
      }

      &_item {
        border-radius: 10px;
        background: $color-white;
        box-shadow: 0px 4px 17.6px 0px rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: center;
        gap: 19px;
        padding: 9px 29px;

        @include media(medium) {
          padding: 8px 43px 9px 22px;
        }

        span {
          color: $color-grey;
          font-variant-numeric: lining-nums proportional-nums;
          font-size: 14px;
          font-weight: 500;
          line-height: 130%;
          width: 318px;
        }
      }
    }

    &__btn {
      @include media(medium) {
        margin: 0 auto;
        display: flex;
        width: 212px;
        font-size: 14px;
      }
    }
  }

  &__right_block {
    position: absolute;
    right: 0;
    top: 0;

    @include media(medium) {
      position: static;
      text-align: center;
    }

    img {
      transform: translateX(-60px);

      @include media(medium) {
        transform: translate(0);
        height: 420px;
      }
    }

    p {
      color: $color-white;
      font-size: 14px;
      font-weight: 600;
      line-height: 140%;
      margin-top: 20px;
      width: 367px;

      @include media(medium) {
        font-size: 12px;
        width: 310px;
        margin-top: 35px;
        margin-bottom: 86px;
        text-align: left;
      }
    }
  }
}

// History end

// products
.home-products {
  padding: 71px 0 79px 0;
  background-color: $color-footer-bg;
  position: relative;

  @include media (medium) {
    padding: 35px 0 45px 0;
  }

  .main_container {
    position: relative;
    z-index: 2;
  }

  &__bg {
    position: absolute;
    top: 148px;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0 auto;
    width: 669px;
    height: 479px;
    border-radius: 669px;
    opacity: 0.6;
    background: linear-gradient(36deg, #A400E6 25.99%, #0094FF 72.25%);
    filter: blur(92.69999694824219px);

    @include media (medium) {
      top: 235px;
      width: 438px;
      height: 488px;
      border-radius: 488px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 30px;

    @include media (medium) {
      font-size: 24px;
      font-weight: 700;
      line-height: 112.5%;
      margin-bottom: 20px;
    }
  }

  p {
    color: $color-white;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 20px;

    @include media (medium) {
      font-size: 12px;
      margin-bottom: 12px;
    }
  }

  h6 {
    color: $color-white;
    font-size: 14px;
    text-align: center;
    font-weight: 800;
    line-height: 140%;

    @include media (medium) {
      display: none;
    }
  }

  &__imgs {
    margin: 42px 0 31px 0;
    display: flex;
    justify-content: center;

    @include media (medium) {
      margin: 20px 0 25px 0;
    }

    img {
      @include media (medium) {
        width: 100%;
      }
    }
  }

  &__bottom_text {
    @include flex-center();
    border-radius: 30px;
    padding: 25px 30px 33px;
    background: $color-footer-bg-2;
    position: relative;

    @include media (medium) {
      border-radius: 10px;
      padding: 20px 25px;
      flex-direction: column;
      align-items: start;
      gap: 13px;
    }

    img {
      position: absolute;
      left: 30px;
      top: -20px;

      @include media (medium) {
        width: 94px;
        position: static;
      }
    }

    p {
      margin-left: 186px;
      color: $color-white;
      font-size: 14px;
      text-align: left;
      font-weight: 600;
      line-height: 140%;
      margin-bottom: 0;

      @include media (medium) {
        margin-left: 0;
        font-size: 12px;
      }
    }
  }

  &__bottom_right {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

// products

// Work
.home-works {
  .main_container {
    position: relative;
  }

  &__top_card {
    margin-bottom: 156px;

    @include media (medium) {
      margin-bottom: 16px;
    }

    &__bg {
      position: absolute;
      right: -400px;
      top: -65px;

      @include media (medium) {
        display: none;
      }
    }

    &__title {
      margin: 151px 0 37px;

      @include media (medium) {
        margin: 40px 0 16px;
        font-size: 24px;
        text-align: center;
      }
    }

    p {
      color: $color-grey;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      max-width: 482px;

      @include media (medium) {
        max-width: 100%;
        font-size: 12px;
      }
    }

    &__right_block {
      position: absolute;
      top: -70px;
      right: 100px;

      @include media (medium) {
        display: none;
      }
    }
  }

  &__bottom_card {
    &__title {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      line-height: 112.5%;

      @include media (medium) {
        font-size: 16px;
        text-align: left;
      }
    }

    &__block {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @include media (medium) {
        flex-direction: column;
        align-items: center;
      }

      &_left {
        display: block;
        transform: translate(-20px, -40px);

        @include media (medium) {
          transform: translate(0);
        }

        @include media (exexsm) {
          width: 100%;
          height: 177px;
          object-fit: contain;
        }
      }

      p {
        color: $color-grey;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        width: 590px;

        &:first-child {
          margin-bottom: 13px;
        }
      }

      &_right {
        padding-top: 71px;

        @include media (medium) {
          padding-top: 0;
          margin-bottom: 43px;
          width: 100%;
        }

        p {
          @include media (medium) {
            width: 100%;
            font-size: 12px;
          }
        }
      }
    }
  }
}

// Work end

// tarif
.home-tarif {
  background-color: $color-footer-bg;
  padding: 82px 0 78px 0;
  position: relative;
  overflow: hidden;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 729px;
    height: 522px;
    border-radius: 729px;
    opacity: 0.6;
    background: linear-gradient(36deg, #A400E6 25.99%, #0094FF 72.25%);
    filter: blur(92.69999694824219px);
  }

  &__title {
    position: relative;
    z-index: 2;

    h3 {
      color: $color-white;
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 112.5%;
    }
  }

  &__swiper {
    margin-top: 40px;
  }

  &__slider_wrap {
    position: relative;

    @include media (exsm) {
      width: 252px;
      margin: 0 auto;
    }

    &__slider_btn {
      position: absolute;
      top: 50%;
      z-index: 2;
      transform: translateY(-100%);
      display: none;

      @include media (large) {
        display: block;
      }
    }

    &__prev_btn {
      left: -30px;

      @include media (large) {
        left: -20px;
      }

      @include media (exsm) {
        left: -30px;
      }
    }

    &__next_btn {
      right: -30px;

      @include media (large) {
        right: -20px;
      }

      @include media (exsm) {
        right: -30px;
      }
    }
  }

  &_card {
    padding: 37px 16px;
    border-radius: 20px;
    background: #EAEAEA;
    position: relative;
    min-height: 714px;

    &_head {
      display: flex;
      padding-bottom: 15px;
      border-bottom: 1px solid #818181;
      align-items: end;

      h5 {
        color: $color-black;
        font-size: 20px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.6px;
      }

      del {
        white-space: nowrap;
        margin-left: auto;
        color: $color-indigo;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        font-variant-numeric: lining-nums proportional-nums;
      }

      h4 {
        margin-left: 10px;
        color: $color-indigo;
        font-size: 32px;
        font-weight: 600;
        line-height: normal;
        font-variant-numeric: lining-nums proportional-nums;
        transform: translateY(4px);
      }
    }

    &_list {
      margin: 17px 0 127px 0;
      display: flex;
      flex-direction: column;
      gap: 8px;

      &_item {
        @include flex-start();
        color: $color-black-blue;
        font-family: $font-golos;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        img {
          margin-right: 6px;
        }
      }
    }

    &__btn {
      position: absolute;
      bottom: 37px;
      left: 13px;
      right: 16px;
    }
  }

  &_card_2 {
    background: linear-gradient(184deg, #E6D083 10.95%, #FFFDF7 27.58%, #FFEEB3 51.46%, #FFF9E2 65%, #FFF0BA 77.47%, #FDDB62 94.1%);
  }

  &_card_4 {
    background: linear-gradient(13deg, #A639D1 2.22%, #6B3DFF 67.14%), $color-white;

    .home-tarif_card {
      &_head {
        h5 {
          color: $color-white;
        }

        del,
        h4 {
          color: #47DB8B;
        }

      }

      &_list {
        &_item {
          color: $color-white;
        }
      }

      &__btn {
        color: $color-black;
        background: linear-gradient(90deg, #BBFFFB 0%, #47C0DB 107.69%), linear-gradient(115deg, #F76460 22.3%, #FFB308 96.05%), #2D6BF6;
      }
    }
  }
}

// tarif

// program
.home-program {
  padding: 81px 0 104px 0;

  @include media (medium) {
    padding: 82px 0 33px 0;
  }

  .main_container {
    @include flex-center();
    gap: 91px;

    @include media (medium) {
      flex-direction: column-reverse;
      gap: 23px;
    }
  }

  &__img_bg {
    position: relative;
    width: 349px;
    height: 190px;
    border-radius: 20px;
    background: linear-gradient(180deg, #6E2ECC 0%, #354DF4 100%);
    box-shadow: 0px 4px 17.6px 0px rgba(0, 0, 0, 0.16);

    @include media (medium) {
      height: 126px;
    }

    @include media (exexsm) {
      width: 320px;
    }

    img {
      position: absolute;
      bottom: -30px;
      left: 0;
      right: 0;
      margin: 0 auto;

      @include media (medium) {
        bottom: -10px;
        width: 164px;
      }
    }
  }

  &__title {
    @include media (medium) {
      font-size: 24px;
      font-weight: 700;
      line-height: 112.5%;
    }
  }

  h6 {
    max-width: 483px;
    margin: 31px 0;
    color: $color-text;
    font-size: 20px;
    font-weight: 500;
    line-height: 145.687%;

    @include media (medium) {
      max-width: 100%;
      margin: 11px 0 6px 0;
      font-size: 16px;
    }
  }

  p {
    max-width: 598px;
    color: $color-text;
    font-size: 16px;
    font-weight: 300;
    line-height: 145.687%;

    @include media (medium) {
      max-width: 100%;
      font-size: 12px;
    }

    a {
      color: $color-blue;
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

// program