// global vars

$font-golos: 'Golos Text', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-raleway: 'Raleway', sans-serif;

$color-white: #fff;
$color-text: #424242;
$color-grey: #323232;
$color-black-blue: #242d35;
$color-black: #000;
$color-footer-bg: #231A32;
$color-footer-bg-2: #372272;
$color-blue: #1E6AFF;
$color-indigo: #B547DB;

$screens: (
        large: 1050,
        medium: 992,
        small: 768,
        exsm: 576,
        exexsm: 420
);

@mixin media($value) {
  $width: map_get($screens, $value);
  @if ($width != 0) {
    @media screen and (max-width: $width + 'px') {
      @content
    }
  }
}